<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Editar categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="categories.length > 0">
    <ion-list>
      <ion-item *ngFor="let category of categories" (click)="removeCategory(category.id)">
        {{ category.name }}
        <ion-icon name="ios-trash" item-end></ion-icon>
      </ion-item>  
    </ion-list>
  </div>

  <div *ngIf="categories.length <= 0" text-center>Nenhuma categoria cadastrada.</div>
</ion-content>