<ion-header>

  <ion-navbar color="primary">
    <ion-title text-center>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row margin-bottom>
    <ion-col col-12 text-center>
      <ion-img class="logo" src="./assets/imgs/app_logo.png"></ion-img>
    </ion-col>
  </ion-row>
  
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div text-center>
    <button ion-button clear (click)="goToRegisterPage()">Não tem cadastro? Crie agora!</button>
  </div>

  <div padding>
    <button ion-button color="primary" block [disabled]="!formGroup.valid" (click)="login()">Login</button>
  </div>
</ion-content>