<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cadastro de categoria</ion-title>
    <ion-buttons start>
      <button ion-button (click)="closeModal()">Cancelar</button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div padding>
    <button ion-button color="primary" block (click)="submit()" [disabled]="!formGroup.valid">Salvar</button>
  </div>
</ion-content>