<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Registrar conta</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-input type="email" placeholder="E-mail" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-input type="password" placeholder="Senha" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div padding>
    <button ion-button color="primary" block (click)="submit()" [disabled]="!formGroup.valid">Salvar</button>
  </div>
</ion-content>
