<ion-header>

  <ion-navbar color="primary">
    <ion-title>Lista de receitas</ion-title>
  </ion-navbar>

  <ion-toolbar color="primary">
      <ion-item>
        <ion-label>Exibir:</ion-label>
        <ion-select interface="action-sheet" cancelText="" [(ngModel)]="selectedFilter">
            <ion-option *ngFor="let filter of filterList" [value]="filter.value" (ionSelect)="selectFilter(filter)">{{filter.label}}</ion-option>
        </ion-select>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="incomeList?.length > 0">
    <button ion-item *ngFor="let income of incomeList | slice:0:limitToShow" (click)="editIncome(income)">
      <p item-start>{{ income.date | date: 'dd/MM/yy' }}</p>
      <ion-label>{{ income.name }}</ion-label>
      <p item-end>R${{ income.value }}</p>
    </button>
  </ion-list>
</ion-content>