<ion-header>

    <ion-navbar color="primary">
        <ion-title>
            <p float-start>Edição de receita</p>
            <button ion-button icon-only clear float-end margin-top color="light" (click)="removeIncome()">
                <ion-icon name="trash"></ion-icon>
            </button>
        </ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <form [formGroup]="formGroup">
        <ion-list>
            <ion-item>
                <ion-input type="text" placeholder="Nome" formControlName="name"></ion-input>
            </ion-item>

            <ion-item>
                <ion-select interface="popover" placeholder="Categoria" formControlName="categoryId">
                    <ion-option *ngFor="let category of categoryList" [value]="category.id" (ionSelect)="selectCategory(category)">{{category.name}}</ion-option>
                </ion-select>
            </ion-item>

            <ion-item>
                <ion-input type="number" placeholder="Valor" formControlName="value"></ion-input>
            </ion-item>

            <ion-item>
                <ion-datetime placeholder="Data" displayFormat="DD/MM/YYYY" formControlName="date" cancelText="Cancelar" doneText="Ok"></ion-datetime>
            </ion-item>
        </ion-list>
    </form>

    <div padding>
        <button ion-button color="primary" block (click)="submit()" [disabled]="!formGroup.valid">Salvar</button>
    </div>
</ion-content>