<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Trocar senha</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formGroup">
    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Nome" formControlName="name" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="email" placeholder="E-mail" formControlName="email" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Senha antiga" formControlName="oldPassword"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Nova senha" formControlName="newPassword"></ion-input>
      </ion-item>
    </ion-list>
  </form>

  <div padding>
    <button ion-button color="primary" block (click)="submit()" [disabled]="!formGroup.valid">Salvar</button>
  </div>
</ion-content>