<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content>
  <div padding text-center class="balance-container">
    <p ion-text no-margin margin-top class="balance-container-title">Olá, <span [textContent]="user?.name"></span></p>
    <p ion-text no-margin class="balance-container-value" [ngClass]="{'positive': user?.balance > 0, 'negative': user?.balance < 0}">
      <span [textContent]="user?.balance | currency:'BRL'"></span>
    </p>
    <p ion-text no-margin>saldo geral</p>
  </div>

  <div padding>
    <ion-card margin>
      <ion-card-header>
        <h2 ion-text float-start>Receitas</h2>
        <button ion-button clear float-end no-margin no-padding height-auto *ngIf="incomeList?.length > limitToShow"
          (click)="goToIncomePage()">
          Ver mais
        </button>
      </ion-card-header>
      <ion-card-content no-padding>
        <div *ngIf="incomeList?.length === 0" padding>
          <p>Você ainda não registrou nenhuma receita.</p>
          <p>Registre agora!</p>
        </div>

        <ion-list *ngIf="incomeList?.length > 0">
          <button ion-item *ngFor="let income of incomeList | slice:0:limitToShow" (click)="editIncome(income)">
            <p item-start>{{ income.date | date: 'dd/MM/yy' }}</p>
            <ion-label>{{ income.name }}</ion-label>
            <p item-end>{{ income.value | currency:'BRL' }}</p>
          </button>
        </ion-list>

        <p text-center>
          <button ion-button clear icon-only (click)="addIncome()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card margin>
      <ion-card-header>
        <h2 ion-text float-start>Gastos</h2>
        <button ion-button clear float-end no-margin no-padding height-auto *ngIf="chargeList?.length > limitToShow"
          (click)="goToChargePage()">
          Ver mais
        </button>
      </ion-card-header>
      <ion-card-content no-padding>
        <div *ngIf="chargeList?.length === 0" padding>
          <p>Você ainda não registrou nenhum gasto.</p>
          <p>Registre agora!</p>
        </div>

        <ion-list *ngIf="chargeList?.length > 0">
          <button ion-item *ngFor="let charge of chargeList | slice:0:limitToShow" (click)="editCharge(charge)">
            <p item-start>{{ charge.date | date: 'dd/MM/yy' }}</p>
            <ion-label>{{ charge.name }}</ion-label>
            <p item-end>{{ charge.value | currency:'BRL' }}</p>
          </button>
        </ion-list>

        <p text-center>
          <button ion-button clear icon-only (click)="addCharge()">
            <ion-icon name="add-circle"></ion-icon>
          </button>
        </p>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>