page-home {
    & ion-card-content {
        & ion-icon {
            font-size: 2em;
        }
    }

    & .balance-container {
        background-color: color($colors, light, base);;

        &-title {
            font-size: 1.3em;
        }

        &-value {
            font-size: 1.75em; 
            margin: 0.1em 0;
        }
        
        & .positive {
            color: color($colors, secondary, base);
        }
        
        & .negative {
            color: color($colors, danger, base);
        }
    }
}
